#albumList {
    text-align: center;
}

#albumList .albums {
    display: flex;
    overflow-x: scroll;
}

#albumList .album {
    float: left;
    margin: 0 3%;
}

#albumList .album:first-child {
    margin-left: 0;
}
